/* vista web  */
@media screen and (min-width: 1024px) {
    body {
        margin: 0;
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    }
    header {
        background-color: #5e42a6;
        color: #fff;
        width: 20%;
        height: 100vh;
        display: inline-block;
    }
    header > img {
        width: 180px;
        height: 120px;
        margin-top: 10%;
        margin-left: 20%;
        cursor: pointer;
    }
    header > div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        position: relative;
        top: 15%;
        }
    .list {
        font-size: 1.4em;
        flex: 0 1 auto;
        align-self: auto;
        text-align: right;
        font-weight: bold;
        width: 240px;
        margin-left: 40px;
        padding: 20px 0 5px 0;
        border-bottom: solid 1px #fff;
        cursor: pointer;
        }
    main {
        color: #fff;
        width: 80%;
        height: 100vh;
        float: right;
    }
    .cajaContent {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        }
    div > img {
        width: 350px;
        height: 300px;
    }
    .caja {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        margin: 20px;
        cursor: pointer;
        }
    h1 {
        color: #5e42a6;
        margin-left: 6.7em;
        font-size: 40px;
    }
    h3 {
        color: #fff;
        font-weight: lighter;
        margin: 0;
        padding: 10px 20px 10px 20px;
        position: relative;
        bottom: 4px;
    }
    .texto1 {
        background-color: #fe7472;
    }
    .texto2 {
        background-color: #749ffe;
    }
    .texto3 {
        background-color: #5e42a6;
    }
    .texto4 {
        background-color: #ffb274;
    }
    main .cajaContent .caja > div {
        display: none;
    }
}
/* movil */
@media (min-width: 320px) and (max-width: 480px) {
    body {
        margin: 0;
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    }
    header {
        background-color: #5e42a6;
        color: #fff;
        width: 100%;
        height: 35%;
        display: inline-block;
    }
    header > img {
        width: 150px;
        height: 100px;
        margin-top: 10%;
        margin-left: 30%;
        cursor: pointer;
    }
    header > div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        margin-bottom: 11%;
        margin-top: -3%;
        }
    .list {
        font-size: 1.4em;
        flex: 0 1 auto;
        align-self: auto;
        text-align: center;
        font-weight: bold;
        width: 240px;
        margin-left: 20%;
        padding: 20px 0 5px 0;
        border-bottom: solid 1px #fff;
        cursor: pointer;
        }
    main {
        color: #fff;
        width: 100%;
        height: 65%;
    }
    .cajaContent {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        }
    div > img {
        width: 350px;
        height: 300px;
    }
    .caja {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        cursor: pointer;
        height: 350px;
        }
    h1 {
        color: #5e42a6;
        margin-left: 0.5em;
        font-size: 1.8em;
    }
    h3 {
        color: #fff;
        font-weight: lighter;
        margin: 0;
        padding: 10px 20px 10px 20px;
        position: relative;
        bottom: 5px;
    }
    .texto1 {
        background-color: #fe7472;
    }
    .texto2 {
        background-color: #749ffe;
    }
    .texto3 {
        background-color: #5e42a6;
    }
    .texto4 {
        background-color: #ffb274;
    }
    main .cajaContent .caja > div {
        position: relative;
        bottom: 23em;
        width: 350px;
        height: 343px;
        text-align: center;
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
    }
    main .cajaContent .caja:hover > .capa1 {
        opacity: 1;
        visibility: visible;
        background-color: rgb(254, 116, 114,0.6);
    }
    main .cajaContent .caja:hover > .capa2 {
        opacity: 1;
        visibility: visible;
        background-color: rgb(116, 159, 254,0.6);
    }
    main .cajaContent .caja:hover > .capa3 {
        opacity: 1;
        visibility: visible;
        background-color: rgb(94, 66, 166,0.6);
    }
    main .cajaContent .caja:hover > .capa4 {
        opacity: 1;
        visibility: visible;
        background-color: rgb(255, 178, 116,0.6);
    }
}
/* tablets vertical */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait)
{
    body {
        margin: 0;
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    }
    header {
        background-color: #5e42a6;
        color: #fff;
        width: 100%;
        height: 9.8vh;
    }
    header > img {
        width: 110px;
        height: 70px;
        margin-top: 2%;
        margin-left: 8%;
        cursor: pointer;
    }
    header > div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        position: absolute;
        top: 40px;
        left: 32%;
        }
    .list {
        font-size: 1.4em;
        flex: 0 1 auto;
        align-self: auto;
        text-align: center;
        font-weight: bold;
        margin: 0;
        width: 120px;
        padding: 0px 0px 0px 0px;
        border: none;
        cursor: pointer;
        }
    main {
        color: #fff;
        width: 100%;
        height: 80%;
    }
    .cajaContent {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        }
    div > img {
        width: 350px;
        height: 300px;
    }
    .caja {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        margin: 20px;
        cursor: pointer;
        }
    h1 {
        color: #5e42a6;
        margin-left: 0.5em;
        font-size: 40px;
    }
    h3 {
        color: #fff;
        font-weight: lighter;
        margin: 0;
        padding: 10px 20px 10px 20px;
        position: relative;
        bottom: 5px;
    }
    .texto1 {
        background-color: #fe7472;
    }
    .texto2 {
        background-color: #749ffe;
    }
    .texto3 {
        background-color: #5e42a6;
    }
    .texto4 {
        background-color: #ffb274;
    }
    main .cajaContent .caja > div {
        display: none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    
    body {
        margin: 0;
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    }
    header {
        background-color: #5e42a6;
        color: #fff;
        width: 100%;
        height: 15vh;
    }
    header > img {
        width: 120px;
        height: 80px;
        margin-top: 2%;
        margin-left: 8%;
        cursor: pointer;
    }
    header > div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        position: absolute;
        top: 40px;
        left: 32%;
        }
    .list {
        font-size: 1.4em;
        flex: 0 1 auto;
        align-self: auto;
        text-align: center;
        font-weight: bold;
        margin-left: 1em;
        width: 5em;
        font-size: 20px;
        padding: 0px 0px 0px 0px;
        border: none;
        cursor: pointer;
        }
    main {
        color: #fff;
        width: 100%;
        height: 80%;
    }
    .cajaContent {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        left: 5em;
        }
    div > img {
        width: 200px;
        height: 150px;
    }
    .caja {
        flex: 0 1 auto;
        align-self: auto;
        margin: 5px;
        cursor: pointer;
        }
    h1 {
        color: #5e42a6;
        font-size: 30px;
        margin: 1em 0 1em 1.5em;
    }
    h3 {
        color: #fff;
        font-weight: lighter;
        margin: 0;
        font-size: 15px;
        padding: 5px 10px 5px 10px;
        position: relative;
        bottom: 5px;
    }
    .texto1 {
        background-color: #fe7472;
    }
    .texto2 {
        background-color: #749ffe;
    }
    .texto3 {
        background-color: #5e42a6;
    }
    .texto4 {
        background-color: #ffb274;
    }
    main .cajaContent .caja > div {
        display: none;
    }
}